body {
  font: 16px/1.5 sans-serif;
}

.modal {
  width: 50vw;
  height: 40vh;
  border: 15px solid #5bcef3;
  background-color: #b4eafb;
  border-radius: 10px;
  font-size: 30px;
  position: relative;
  left: 200px;
}

button {
  width: 80px;
  height: 25px;
}

.exit {
  color: black;
  width: 30px;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: calc(50vw - 30px);

}

.help {
  border-radius: 50px;
  position: fixed;
  color: white;
  background-color: lightcoral;

}

.ok {
  background-color: #28a745;
  color: white;
  position: absolute;
  right: calc(50vw/2 - 30px);
  top: calc(40vh/2);
}

/* sem přijdou tvoje styly */
